<%= form_for(@issue, :html => { :multipart => true }) do |f| %>
  <% if @issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% @issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="callout">

  <div class="field">
<<<<<<< HEAD
    <%= f.text_field :title, :placeholder => 'Título da ocorrência' %>
  </div>
  <div class="field">
    <%= f.label 'Envie uma foto' %><br>
    <%= f.file_field :picture %>
  </div>
  <div class="field">
    <%= f.text_field :address, :placeholder => 'Endereço da ocorrência' %>
  </div>
  <div class="field">
    <%= f.text_area :descriptiion, :placeholder => 'Descrição da ocorrência' %>
=======
    <%= f.label :Título %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :Imagem %><br>
    <%= f.file_field :picture %>
  </div>
  <div class="field">
    <%= f.label :Endereço %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :Descrição %><br>
    <%= f.text_area :descriptiion %>
>>>>>>> 41ce545aa5c9042f9e6a0fda4d6e95eec04341d7
  </div>
  <div class="field">
    <%= f.label :Status %><br>
    <%= f.text_field :status, :id => 'exampleFileUpload' %>
  </div>
  <div class="actions">
<<<<<<< HEAD
    <%= f.submit 'Enviar', :class => 'button success expanded' %>
  </div>
=======
    <%= f.submit "Confirmar" %>
>>>>>>> 41ce545aa5c9042f9e6a0fda4d6e95eec04341d7
  </div>
<% end %>
