<%= form_for(@issue, :html => { :multipart => true }) do |f| %>
  <% if @issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% @issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="callout primary">

  <div class="field">

  <%= f.text_field :title, :placeholder => 'Título da ocorrência' %>
  </div>
  <div class="field">
    <%= f.label 'Envie uma foto' %><br>
    <%= f.file_field :picture %>
  </div>
  <div class="field">
    <%= f.text_field :address, :placeholder => 'Endereço da ocorrência' %>
  </div>
  <div class="field">
    <%= f.text_area :descriptiion, :placeholder => 'Descrição da ocorrência' %>
  </div>
  
  <div class="field">
    <%= f.label :Status %><br>
    <%= f.text_field :status, :id => 'exampleFileUpload' %>
  </div>
  <div class="actions">

    <%= f.submit 'Enviar', :class => 'button success expanded' %>
  </div>

  </div>
<% end %>
