<h1>Editar Ocorrência</h1>

<%= render 'form' %>

<<<<<<< HEAD
<div class="expanded button-group">
	<%= link_to 'Mostrar', @issue, :class => 'button hollow primary' %>
	<%= link_to 'Voltar', issues_path, :class => 'button hollow secondary' %>
</div>
=======
<%= link_to 'Visualizar', @issue %> |
<%= link_to 'Voltar', issues_path %>
>>>>>>> 41ce545aa5c9042f9e6a0fda4d6e95eec04341d7
