<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @issue.title %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@issue.picture_url, :width => 600) if @issue.picture.present? %>
</p>

<p>
  <strong>Address:</strong>
  <%= @issue.address %>
</p>

<p>
  <strong>Descriptiion:</strong>
  <%= @issue.descriptiion %>
</p>

<p>
  <strong>Status:</strong>
  <%= @issue.status %>
</p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
