<p id="notice"><%= notice %></p>

<div class="callout">
<p>
  <h3># <%= @issue.title %> <span class="info label text-right"><%= @issue.status %></span></h3>
<p><%= @issue.created_at %></p>
<p>
  <%= image_tag(@issue.picture_url, :class => 'thumbnail', :width => 600) if @issue.picture.present? %>
  
</p>
<p>

     <blockquote><%= @issue.address %></blockquote>
</p>

<p>
  <%= @issue.descriptiion %>
</p>
<h3>Comentários</h3>
<% @issue.dsqus.each do |comment| %>
  <div>
    <strong><%= comment.user_name %></strong>
    <br />
    <p><%= comment.body %><p>
  </div>
<% end %>
<%= render 'dsqus/form' %>
</div>
<div class="expanded button-group">
<%= link_to 'Editar', edit_issue_path(@issue), :class => 'button hollow warning' %>
<%= link_to 'Voltar', issues_path, :class => 'button hollow secondary' %>
</div>
