<%= form_for(@dsqu) do |f| %>
  <% if @dsqu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dsqu.errors.count, "error") %> prohibited this dsqu from being saved:</h2>

      <ul>
      <% @dsqu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="callout success">

  <div class="field">
    <%= f.text_field :user_name, :placeholder => 'Nome Completo' %>
  </div>
  <div class="field">
    <%= f.text_area :body, :placeholder => 'Digite o Comentário' %>
  </div>
  <div class="actions">
    <%= f.submit 'Enviar',  :class => 'button success expanded' %>
  </div>
  </div>
<% end %>
