<p id="notice"><%= notice %></p>

<p>
  <strong>Nome Completo:</strong>
  <%= @dsqu.user_name %>
</p>

<p>
  <strong>Comentário:</strong>
  <%= @dsqu.body %>
</p>

<%= link_to 'Editar', edit_dsqu_path(@dsqu) %> |
<%= link_to 'Voltar', dsqus_path %>
